main {
	text-align: center;
	margin: auto;
	font-family: monospace;
	margin: 10px 80px;
	padding: 20px;
	background: #dbd6d5;
	font-size: 1.4em;
}

p {
	margin: 0 80px;
	line-height: 1.6em;
	font-size: 1em;

}

p.description
{
	font-style: italic;
	font-size: 1.4rem;
	line-height: 1.2em;
}

h1 {
	margin-bottom: 0;
}

img {
	max-width: 80%;
	display: block;
	height:auto;
	margin:0 auto;
}

#img-caption {
	margin: 15px 0;
}

section {
	margin: 50px 0;
}